doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/fontello/css/fontello.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Alfa+Slab+One')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oxygen')

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization")
    script(src="/javascripts/streaming_module.js")
    script(src="/javascripts/map_module.js")
    script(src="/javascripts/lib/jquery.js")
    script(src="/javascripts/lib/handlebars.js")
    script(src="/javascripts/lib/underscore.js")
    script(src="/socket.io/socket.io.js")

  body
    block content
