extends layout

block content
  header
    h1
      span.live Live
      span.streaming Streaming
    p TFM | Sergio Álvarez Suárez

  div.page-wrapper
    div.map-canvas
    div.actions.clear
      button.start-streaming.green Conectar
    div.localized-tweets
      script#tweet-template(type='text/x-handlebars')
        div.tweet
          p.rate
            i(class='{{validation}}')
          p.user {{user}}
          p.location {{location}}
          p.text {{text}}
  script.
    var $mapContainer = $('div.map-canvas');
    MapModule.install($mapContainer);

    $('button.start-streaming').click(function(){
      var $tweetsContainer = $('div.localized-tweets');
      StreamingModule.startStreaming($tweetsContainer);
      $(this).prop('disabled', true);
    });
