extends layout

block content
  header
    h1 Live streaming

  div.page-wrapper
    button.start-streaming Stream!
    div.localized-tweets
      script#tweet-template(type='text/x-handlebars')
        div.tweet
          p.rate
            i(class='{{validation}}')
          p.user {{user}}
          p.location {{location}}
          p.text {{text}}
  script.
    $('button.start-streaming').click(function(){
      var $container = $('div.localized-tweets');
      App.StreamingModule.startStreaming($container);
      $(this).prop('disabled', true);
    });
